  <% include ../partials/header.ejs %>

<!-- CONTENT PAGE FOR ABOUT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>About me</p>

          <br><br>
          <p>Hello, My name is Ali. I code and pick my nose</p>
        </div>
      </div>
    </div>

        <% include ../partials/footer.ejs %>