  <% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR HOME -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>

          <p></p>
          <img src="logo.png" alt="logo Image">
          <br>
          <h4>"Let's make the next big Android App"</h4>
          <br><br>
          <h5>My name is Ali Saim, I am a student at Centennial College and I love to develop Android Apps.</h5>
          <h5>If you have an app idea and need help with development, then you have come to the right place. </h5>
        

          
        </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>